@media screen and (min-width: 1200px) {
    .col-lg-12{width: 100%;}
    .col-lg-10{width: 83.33333333%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-2{width: 16.66666667;}
  }
  
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .col-md-12{width: 100%;}
    .col-md-10{width: 83.33333333%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-2{width: 16.66666667;}
  }
  
  @media screen and (max-width: 991px) and (min-width: 768px){
    .col-sm-12{width: 100%;}
    .col-sm-10{width: 83.33333333%;}
    .col-sm-4{width: 33.33333333%;}
    .col-sm-2{width: 16.66666667;}
  }
  
  @media screen and (max-width: 767px){
    .col-xs-12{width: 100%;}
    .col-xs-10{width: 83.33333333%;}
    .col-xs-4{width: 33.33333333%;}
    .col-xs-2{width: 16.66666667;}
  }