@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Paprika|Patrick+Hand+SC');
@font-face {
	font-family: pokemon;
	src: url(fonts/logoFont.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;	
	/* background: #e46c7c; */
	background-color: #FFDE00;
	color: #f2f2f2;
	/*ocupe todo*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.conteiner-header {
	position: relative;
	margin: auto;
 	width: 100%;
	height: auto;
	display: table;
}

h1 {
	float: left;
	color: #3B4CCA;
}

.logo {
	padding-top: 16px;
	font-family: pokemon;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	/* background: #f2f2f2; */
	background: url('http://www.hdfondos.eu/pictures/2012/0221/1/pokemon-fields-ruby-1920x1200-wallpaper-507673.jpg') no-repeat center center fixed;
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.main {
	padding-top: 5rem;
	/* width: 100%;
    height: 70px;
ocupe todo
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
}*/}

h2 {
	font-family: 'Paprika',cursive;
}

.pokemon-name {
	text-transform: uppercase;
}

#warning {
	color: red;
}

.sectionOfToolbar {
	padding: 18px;
	display: inline-block;
}

.toolbar-search {
   border-radius: 20px;
   border: none;
   width: 200px;
   height: 30px;
   text-align: center;
}

.button-search {
width: 30px; 
height: 30px;
background: #8cc43c;
color: #fff;
border-radius: 7px;
border: none;
cursor: pointer;
}

.button-advancedSearch {
	padding: 9px;
	margin: 15px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	font-family: 'Paprika',cursive;
	background: #3B4CCA;
	color: #fff;
}

.aligne {
	display: inline;
}

.select {
	padding: 5px;
	font-family: 'Paprika',cursive;
}

.search-select {
	padding: 7px;
	border-radius: 5px;
	border: 1px;
	font-family: 'Paprika',cursive;
	cursor: pointer;
	background: #3B4CCA;
	color: #fff;	
}

.p-types {
	padding: 8px;
	font-family: 'Paprika',cursive;
}

#result-found {
	margin: 5px 5px;
	font-style: italic;
	color: black;
}

#avg-weight, #avg-height {
	margin: 20px 20px;
	color: black;
}

/* Clase para que se oculte el div */
.unseen {
	display: none;
}

/* Clase para que se muestre el div */
.show {
	display: block;
}

.footer {
	background: gray;
	padding: 15px;
	text-align: center;
	color: white;
	/* clear: left; */
}