@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Paprika|Patrick+Hand+SC');
@font-face {
	font-family: pokemon;
	src: url(fonts/logoFont.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: url('http://www.hdfondos.eu/pictures/2012/0221/1/pokemon-fields-ruby-1920x1200-wallpaper-507673.jpg') no-repeat center center fixed;
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 70px;	
	background-color: #FFDE00;
	color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 100;
	display: flex;
	padding: 0 15px;
}

h1 {
	float: left;
	color: #3B4CCA;
}

h2 {
	font-family: 'Paprika',cursive;
	margin: 20px;
}

.main {
	padding-top: 5rem;
}

.footer {
	background: gray;
	padding: 15px;
	text-align: center;
	color: white;
}

option {
	background-color: #313131;
	font-family: 'Paprika',cursive;
    color: #fff;
}

.container-header {
	position: relative;
	margin: auto;
 	width: 100%;
	height: auto;
	display: flex;
}

.logo {
	margin-right: 50px;
	padding-top: 16px;
	font-family: pokemon;
	box-sizing: border-box;
}

.center-items {
	text-align: center;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.section-of-toolbar {
	padding: 18px;
	display: inline-block;
}

.toolbar-search {
	border-radius: 20px;
	border: none;
	width: 200px;
	height: 30px;
	text-align: center;
	align-items: center;
}

.button-search {
	width: 30px; 
	height: 30px;
	background: #8cc43c;
	color: #fff;
	border-radius: 7px;
	border: none;
	cursor: pointer;
}

.p-warning {
	color: red;
}

.button-search-adv {
	padding: 9px;
	margin: 15px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	font-family: 'Paprika',cursive;
	background: #3B4CCA;
	color: #fff;
}

.unseen {
	display: none;
}

.show {
	display: block;
}

.p-types {
	padding: 8px;
	font-family: 'Paprika',cursive;
}

.select-types {
	padding: 5px;
	font-family: 'Paprika',cursive;
}

.property-text {
	color: #071675;
	font-family: 'Acme',sans-serif;
}

.p-result {
	margin: 5px 5px;
	padding: 10px;
	font-style: italic;
	font-size: 22px;
}

.p-avg {
	margin: 20px 20px;
	font-size: 20px;
}

.select-order {
    background-color: #313131;
	border: none;
	padding: 9px;
	margin: 15px;
    border-radius: 7px;
	color: #fff;
	cursor: pointer;
	font-family: 'Paprika',cursive;
}

.button-add-data {
	margin: 10px;
	padding: 10px;
	background-color: #a99017;
	color: #fff;
	border-radius: 7px;
	font-family: 'Paprika', cursive;
}

.button-return {
	margin: 10px;
	padding: 10px;
	display: none;
	text-align: center;
	font-weight: bold;
	background: #333;
    color: #fff;
	border-radius: 7px;
    cursor: pointer;
}

/* .div-graph {
	padding: 100px;
} */