@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Paprika|Patrick+Hand+SC');
@font-face {
	font-family: pokemon;
	src: url(fonts/logoFont.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;	
	background-color: #FFDE00;
	color: #f2f2f2;
	/*ocupe todo*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.conteiner-header {
	position: relative;
	margin: auto;
 	width: 100%;
	height: auto;
	display: table;
}

h1 {
	float: left;
	color: #3B4CCA;
}

.logo {
	margin-right: 50px;
	padding-top: 16px;
	font-family: pokemon;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: url('http://www.hdfondos.eu/pictures/2012/0221/1/pokemon-fields-ruby-1920x1200-wallpaper-507673.jpg') no-repeat center center fixed;
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.main {
	padding-top: 5rem;
	}

h2 {
	font-family: 'Paprika',cursive;
	margin: 20px;
}

.height {
	margin-top: 10px;
	float: left;
	font-family: 'Paprika',cursive;
}


.select2 {
    background-color: #313131;
	border: none;
	padding: 9px;
	margin: 15px;
    border-radius: 7px;
	color: #fff;
	cursor: pointer;
	font-family: 'Paprika',cursive;
}

option {
	background-color: #313131;
	font-family: 'Paprika',cursive;
    color: #fff;
}

#btn-return {
	margin: 10px;
	padding: 10px;
	display: none;
	text-align: center;
	font-weight: bold;
	/* background: #3B4CCA; */
	background: #333;
    color: #fff;
	border-radius: 7px;
    cursor: pointer;
}

#nameOfType {
font-size: 30px;
padding: 18px;
}

.pokemon-name {
	text-transform: uppercase;
}

#warning {
	color: red;
}

.section-of-toolbar {
	padding: 18px;
	display: inline-block;
}

.toolbar-search {
   border-radius: 20px;
   border: none;
   width: 200px;
   height: 30px;
   text-align: center;
   align-items: center;

}

.button-search {
width: 30px; 
height: 30px;
background: #8cc43c;
color: #fff;
border-radius: 7px;
border: none;
cursor: pointer;
}

#btn-search-adv {
	padding: 9px;
	margin: 15px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	font-family: 'Paprika',cursive;
	background: #3B4CCA;
	color: #fff;
}

.select {
	padding: 5px;
	font-family: 'Paprika',cursive;
}

.search-select {
	padding: 7px;
	border-radius: 5px;
	border: 1px;
	font-family: 'Paprika',cursive;
	cursor: pointer;
	background: #3B4CCA;
	color: #fff;	
}

.p-types {
	padding: 8px;
	font-family: 'Paprika',cursive;
}

#result-found {
	margin: 5px 5px;
	padding: 10px;
	font-style: italic;
	color: black;
	font-family: 'Acme',sans-serif;
}

#avg-weight, #avg-height {
	margin: 20px 20px;
	color: black;
	font-family: 'Acme',sans-serif;
}

/* Clase para que se oculte el div */
.unseen {
	display: none;
}

/* Clase para que se muestre el div */
.show {
	display: block;
}

#scrollToTopButton {
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
	padding: 0;
	border: 0;
	width: 60px;
	height: 60px;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
	font-size: xx-large;
	outline: 0;
	visibility: hidden;
	transform: scale(0);
	opacity: 0;
	transition: 0.2s;
  }
  #scrollToTopButton.show {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
  }

.footer {
	background: gray;
	padding: 15px;
	text-align: center;
	color: white;
	/* clear: left; */
}