.containerdivs {
  margin: 20px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #fff;
  box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
}

.card-link {
  width: 45%;
  flex-direction: column;
  margin-bottom: 6px;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.card-link:hover .pokemon-name {
    transition: color 0.3s ease;
    color: orange ;
  }

.card-link:hover .pokemon-image {
    transition: opacity 0.3s ease;
    opacity: 0.9;
  }

  .article-details {
  padding: 1.5rem;
 }
  
  .pokemon-type {
   display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.0625rem;
    margin: 0 0 0.75rem 0;
    padding: 0 0 0.25rem 0;
    border-bottom: 0.125rem solid #ebebeb;
  }

  .pokemon-weaknesses {
    font-size: 0.875rem;
    line-height: 1;
    margin: 1.125rem 0 0 0;
    padding: 1.125rem 0 0 0;
    border-top: 0.0625rem solid #ebebeb;
  }
  
  .pokemon-image {
    width: 50%;
    text-align: center;
  }

.center-items {
  text-align: center;
}