/*body*/
body {
	font-family: 'Georgia', serif;
	color: #333;
	margin: 0;
}

.containercentrado{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.header {
	background: #5d9b9b;
	color: #f2f2f2;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

header a {
	text-decoration: none;
	color: #ddd;
}

.logo-nav {
display: flex;
justify-content: space-between;
align-items: center;
}

/* 
.logo {
	font-size: 3em;
}

.main {
	padding-top: 9rem;
} */

/* .blog-card {
  display: flex;
  justify-content: center;
} 

.card-link {
	border: 1px solid blue;
	border-radius: 2px;
}


footer {
  padding: 20px;
  text-align: center;
  background-color: #ddd;
}

body {
  text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
}

#main-header {
	height: 80px;
}
	#main-header h1 {
		color: black;
	}





 */
